<!doctype html>
<html lang="es">

<head>
    {% include "./utils/base_cabecera.html" %}
    {% include "./utils/base_pie.html" %}
</head>

<body>
<!-- app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header -->
    {% if user.is_authenticated %}
            <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    
    {% else %}
        <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header closed-sidebar">
    
    {% endif %}
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>    <div class="app-header__content">
                <div class="app-header-left">
                                               {% if user.is_authenticated %}
                   
                    <ul class="header-menu nav">
                        <li class="nav-item">
				<a href="{% url 'informes:main_informes'%}" class="nav-link">
                                <i class="nav-link-icon fa fa-database"> </i>
                                Informes
                            </a>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="{% url 'configuraciones:configuraciones' %}" class="nav-link">
                                <i class="nav-link-icon fa fa-cog"></i>
                                Configuraciones
                            </a>
                        </li>
                    </ul>        
                 {% endif %}   
                 </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        	
                                        	
    {% if user.is_authenticated %}
     <p>Usuario:  {{ user.get_username }}</p>
     <p><a href="{% url 'logout'%}?next={{request.path}}">Cerrar Sesión</a></p>   
   {% else %}
     <p><a href="{% url 'login'%}?next={{request.path}}">Ingresar</a></p>   
   {% endif %} 

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>        </div>
            </div>
        </div>       
               <div class="app-main">
                <div class="app-sidebar sidebar-shadow">
                    <div class="app-header__logo">
                        <div class="logo-src"></div>
                        <div class="header__pane ml-auto">
                            <div>
                            	<!-- hamburger close-sidebar-btn hamburger--elastic is-active -->
                            	  {% if user.is_authenticated %}
                            	<button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            	{% else %}
                                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic is-active" data-class="closed-sidebar">
                                {% endif %}
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="app-header__mobile-menu">
                        <div>
                            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="app-header__menu">
                        <span>
                            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
                    </div>    <div class="scrollbar-sidebar">
                        <div class="app-sidebar__inner">
                            {% if user.is_authenticated %}
                        
                            <ul class="vertical-nav-menu">
                                <li class="app-sidebar__heading">Dashboards</li>
                                  <li>
                                     <a href="{% url 'inicio:abm' %}" class="mm-active">
                                        <i class="metismenu-icon pe-7s-rocket"></i>
                                        ABM
                                    </a>
                                </li>
                               <!-- <li class="app-sidebar__heading">UI Components</li> -->
                                <li>
                                    <a href="#">
                                        <i class="metismenu-icon pe-7s-monitor"></i>
                                        Circuito de Venta
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>
                                    <ul>
                                    	<li><i class="pe-7s-settings">  Cronograma</i></li>
                                        <li>
                                            <a href="{% url 'venta:CronogramaCreate' %}">
                                                <i class="metismenu-icon"></i>
                                                Crear Cronograma
                                            </a>
                                        </li>
                                         <li>
                                            <a href="{% url 'venta:CronogramaList' %}">
                                                <i class="metismenu-icon"></i>
                                                Listar Cronogramas
                                            </a>
                                        </li>
                                    	<li><i class="pe-7s-settings">  Orden de Compra</i></li>
                                         <li>
                                            <a href="{% url 'venta:OrdenCompraCompleto' %}">
                                                <i class="metismenu-icon"></i>
                                                Crear Orden de Compra
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'venta:OrdenCompraList' %}">
                                                <i class="metismenu-icon"></i>
                                                Listar Orden de Compra
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'upoc:SubirOC' %}">
                                                <i class="metismenu-icon"></i>
                                                Subir O.C
                                            </a>
                                        </li>
                                    	<li><i class="pe-7s-settings">  Remito</i></li>
                                          <li>
                                            <a href="{% url 'venta:RemitoCrear' %}">
                                                <i class="metismenu-icon"></i>
                                                Crear Remitos
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'venta:RemitoListar' %}">
                                                <i class="metismenu-icon"></i>
                                                Listar Remitos
                                            </a>
                                        </li>
                                        <li><i class="pe-7s-settings">Facturación</i></li>
                                                                           <li>
                                            <a href="{% url 'venta:RemitoCrear' %}">
                                                <i class="metismenu-icon"></i>
                                                Facturar
                                            </a>
                                        </li>
                                    </ul>
                                    


                                                                    <li>
                                    <a href="#">
                                        <i class="metismenu-icon pe-7s-wallet"></i>
                                        Administracion
                                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="{% url 'admin:index' %}">
                                                <i class="metismenu-icon"></i>
                                                Administracion
                                            </a>
                                        </li>
                                        </ul>
                                </li>
                            </ul>

                            {% endif %}
                        </div>
                    </div>
                </div>    <div class="app-main__outer">
                <div class="app-main__inner">
                                            {% if user.is_authenticated %}
                
			{% block cuerpo %}
			
			
			{% endblock %}
			{% else %}
			{% block sesion%}
			
			{% endblock %}
			{% endif %}
			</div>
    </div>
        </div>
    </div>
    {% block footer %}
    {% endblock footer %}
</body>

</html>
