{% extends '../base.html' %}
{%  block cuerpo %}
<div class="main-card mb-3 card">
	<div class="card-body">
		<h5 class="card-title">Conformador de {{ remito }}</h5>
		<table class="table table-hover table-fixed">
		<tr>
			<th>
				Campo
			</th>
			<th>
				Detalle
			</th>
		</tr>
		<tr>
		      <td>Id</td>
		      
		      <td id="td_remito_id">{{ remito.id }}</td>
		      </tr>
		<tr>
				<td>Referencia Externa: </td>
				<td><i class="pe-7s-box2 icon-gradient bg-amy-crisp">
		        </i>
		        	{{ remito }}
		      </td>
		      </tr>
			<tr>
		      <td>Orden de Compra: </td>
		      
		      <td>
		        {{ remito.ordencompra }}
		      </td>
		      </tr>
			
		      <tr>
		      <td>Fecha de Emisión: </td>
		      
		      <td>
		        {{ remito.fecha_emision }}
		      </td>
		      </tr>
		      
		      <tr>
		      <td>Cliente: </td>
		      <td>
		        {{ remito.cliente }}
		        </td>
		      </tr>	
		</table>
	</div>
		<div class="card-body">
	<h5 class="card-title">Detalle Remito</h5>
	
		<table class="table table-hover table-fixed" id="tablaPrincipal">
		<tr>
		<th>Producto (Código)</th>
		<th>Cajas</th>
		<th>Cantidad</th>
		<th>Total</th>
        <th>Total confirmado</th>
        <th id="totalComp">Total</th>
		</tr>
		{% for lista in remito_linea %}
	
        <tr>
			<td>{{ lista.producto.nombre_completo }}</td>
			<td>{{ lista.cajas}} </td>
			<td>{{ lista.cantidad}}</td>
			<td>{{ lista.total_unidades }}</td>
			<td><input name="input_cantidad_confirmada"  type="number" value="{{lista.cantidad_confirmada}}" id="{{ lista.id }}" /></td>
            <td class="totalConf"><p>Conf</p></td>
		</tr>
			{% endfor %}
           
        </table>
         <input type="submit" class="btn btn-primary" value="Conformar" id="botonAjax"/>
    </div>
</div>


<a href="{% url 'venta:RemitoListar' %}">    
<button class="mb-2 mr-2 btn-transition btn btn-outline-primary btn-block">
		<i class="pe-7s-angle-left-circle">Conformar</i>
</button>
</a>		 

{% include './js/conformador_detail.js'%}
{% endblock %}