{% extends '../base.html' %}

{%  block cuerpo %}
<div class="app-page-title">
	<div class="page-title-heading">
		<div class="page-title-icon">
			<i class="pe-7s-menu icon-gradient bg-ripe-malin"> </i>
		</div>
		<div>Listado de Cronograma</div>
	</div>
	<hr/>
	<div class="main-card mb-2 card">
		<div class="card-body">
			<h5 class="card-title">Filtros</h5>
			<table class="table table-hover table-fixed">
				<tr>
					<td>
						<label for="filtroNombre">Nombre de Campaña:</label>
						<input type="text" class="form-control" id="filtroNombre"
							onkeyup="filtroNombreCliente()"
							placeholder="Ingrese una Campaña..." /></td>
					<td>
						<label for="clientes_select">Cliente:</label>
						<select id="clientes_select" class="form-control"
							onchange="filtroNombreCliente()">
					</td>
					<td>
						<label for="filtroEstado">Estados</label>
						<select class="form-control" id="filtroEstado"
							onchange="filtroNombreCliente()">
							<option value="*">Todos</option>
							<option value="False">Activas</option>
							<option value="True">Terminadas</option>
						</select>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>


{% if object_list %}
<div class="main-card mb-3 card">
	<div class="card-body">
	<h5 class="card-title">Listado de cronogramas.</h5>
		<table class="table table-hover table-fixed" id="tablaResultado">
		  <tr>
		    <th>Nombre</th>
		    <th>Fecha Inicio</th>
		    <th>Fecha Finalización</th>
		    <th>Cliente</th>
		    <th>Terminada</th>
		  </tr>   
		      {% for cronograma in object_list %}
		   <tr>
		      <td> <a href="{% url 'venta:CronogramaDetail' pk=cronograma.id %}">
		      	<i class="pe-7s-box2 icon-gradient bg-amy-crisp">
		        </i>
		        {{cronograma}}
		    </a>
		      </td>
		      <td>
		        {{cronograma.fecha_inicio }}
		      </td>
		      <td>
		        {{cronograma.fecha_finalizacion }}
		      </td>
		      <td>
		        {{cronograma.cliente}}
		      </td>
		      <td>
		        {{ cronograma.terminada }}
		      </td>
		    </tr>
		      {% endfor %}
		
		    {% else %}
		      <p>No hay registros para mostrar.</p>
		    {% endif %}      
		</table>
	</div>
</div>
<a href="{% url 'inicio:abm' %}">    
<button class="mb-2 mr-2 btn-transition btn btn-outline-primary btn-block">
		<i class="pe-7s-wallet icon-gradient bg-plum-plate"></i>Ir al ABM
</button>
</a>	
<a href="{% url 'venta:CronogramaCreate' %}">    
<button class="mb-2 mr-2 btn-transition btn btn-outline-primary btn-block">
		<i class="pe-7s-magic-wand icon-gradient bg-mixed-hopes"></i>Crear Cronograma
</button> 
</a>


{% include "./js/cronograma_list.js" %}
{% endblock %}

