{% extends '../base.html' %}

{%  block cuerpo %}

<div class="app-page-title">
<div class="page-title-heading">
   <div class="page-title-icon">
         <i class="pe-7s-magic-wand icon-gradient bg-mixed-hopes"></i>
    </div>
		<div>{% if form.nombre.value|length > 0  %} 
					Actualizar
			 {% else %}
			 		Crear
			 {% endif%}
			  Conograma
			 </div>
                                     
</div>
</div>
   
<div class="main-card mb-3 card">
   <div class="card-body">
   <h5 class="card-title">Formulario Alta de Cronograma</h5>
<form method="post">{% csrf_token %}
<p>
    {{ form.nombre.label_tag }}
    {{ form.nombre }}
</p>
	{% for error in form.non_field_errors %}
	 	<p class='help text-danger'>{{ error }}</p>
	{% endfor %}
<p>   
    {{ form.cliente.label_tag }}
    {{ form.cliente }}
</p>
<p>
    {{ form.fecha_inicio.label_tag }}
    {{ form.fecha_inicio }}
</p>
<p>
    {{ form.fecha_finalizacion.label_tag }}
    {{ form.fecha_finalizacion }}
</p>

	{% if form.nombre.value|length > 0  %} 
	<p>
	{{ form.terminada.label_tag }}
	{{ form.terminada }}
	</p>
	{% endif %}

    <button type="submit" class="btn btn-primary">
			{% if form.nombre.value|length > 0  %} 
					Actualizar
			 {% else %}
			 		Guardar
			 {% endif%}
	</button>
</form>
</div>
</div>
{% include './js/cronograma_form.js'%}
{% endblock %}
