{% extends '../base.html' %}

{%  block cuerpo %}

<div class="app-page-title">
	<div class="page-title-heading">
   		<div class="page-title-icon">
        	<i class="pe-7s-magic-wand icon-gradient bg-mixed-hopes">
            </i>
         </div>
		<div>Crear Remito</div>                                 
	</div>
</div>
<div class="main-card mb-3 card">
	<div class="card-body">
		<h5 class="card-title">Formulario Crear Remito</h5>
			<form action="" class="needs-validation" method="post">{% csrf_token %}
		
			<div id="cabecera">
					<div class="form-row">
				    	<div class="col-md-4 mb-3">
				        {{ form.referencia_externa.label_tag }}
				        {{ form.referencia_externa}}
				        </div>
						<div class="col-md-4 mb-3">	
				        {{ form.cliente.label_tag }}
				        {{ form.cliente}}
						</div>
						<div class="col-md-4 mb-3">	
				        {{ form.ordencompra.label_tag }}
				        {{ form.ordencompra}}
						</div>
						<div class="col-md-4 mb-3">	
						{{ form.fecha_emision.label_tag }}
						{{ form.fecha_emision }}
						</div>
					</div>
						
			</div>
				<input type="button" class="btn btn-primary" id="confirm-data" value="Confirmar Datos" /> 
	   
			<div style="visibility : hidden;" id="second-form">
		
        		<table class="table">
            		{{ remitomain.management_form }}

            		{% for form in remitomain.forms %}
                		{% if forloop.first %}
                    <thead>
	                    <tr>
	                        {% for field in form.visible_fields %}
	                            <th>{{ field.label|capfirst }}</th>
	                        {% endfor %}
	                    </tr>
                    </thead>
                	{% endif %}
                	<tr class="{% cycle "row1" "row2" %} formset_row">
                    	{% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    	{% endfor %}
                	</tr>
            		{% endfor %}
        		</table>
 		 </div>
        <input id="button-submit" type="submit" value="Guardar"/>
		</form>       
	</div>
</div>

{% include "./js/remito_form.js" %}
{% endblock %}