{% extends '../base.html' %}
{% load static %}



{%  block cuerpo %}

<div class="app-page-title">
<div class="page-title-heading">
   <div class="page-title-icon">
                                        <i class="pe-7s-magic-wand icon-gradient bg-mixed-hopes">
                                        </i>
                                    </div>
<div>Crear Remito</div>
                                     
                                    </div>
</div>
   
<div class="main-card mb-3 card">
   <div class="card-body">
   <h5 class="card-title">Formulario Crear Remito</h5>
<div id="cabecera">
    <form action="" class="needs-validation" method="post">{% csrf_token %}
    <div class="form-row">
    	<div class="col-md-4 mb-3">
        {{ form.referencia_externa.label_tag }}
        {{ form.referencia_externa}}
        </div>
		<div class="col-md-4 mb-3">	
        {{ form.cliente.label_tag }}
        {{ form.cliente}}
		</div>
		<div class="col-md-4 mb-3">	
        {{ form.cronograma.label_tag }}
        {{ form.cronograma}}
		</div>
		<div class="col-md-4 mb-3">	
        {{ form.ordencompra.label_tag }}
        {{ form.ordencompra}}
		</div>
</div>
	<div class="form-row">
		<div class="col-md-4 mb-3">
		{{ form.fecha_emision.label_tag }}
		{{ form.fecha_emision }}
		</div> 
		<div class="col-md-4 mb-3">
		{{ form.formato_de_impresion.label_tag }}
		{{ form.formato_de_impresion }}
		</div>    
	</div>
</div>
 <input type="button" class="btn btn-primary" id="confirm-data" value="Confirmar Datos" />
    
 	<div class="card-body">
	<h5 class="card-title">Detalle Temito</h5>
	   
<div style="visibility : hidden;" id="second-form">
        <table class="table">
            {{ remitomain.management_form }}

            {% for form in remitomain.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="{% cycle "row1" "row2" %} formset_row">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <input type="button" id="comprobador-concordancia" value="Controlar todos los datos" />
        <input id="button-submit" type="submit" value="Guardar"/>
        <br />
        </div>
    </form>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'formset/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Agregar Linea',
        deleteText: 'Eliminar',
        prefix: 'productolineasrm_set',
		instancia : 'remito'
    });
	$(document).ready(function() {
        $("#id_cliente").on("change", getDatos);
        $("#confirm-data").on("click", getProductos)
 //       $("#id_ordencompra").on("change", getProductos)
        $("input[id^='id_productolineasrm_set-']").on("change", calcularTotal);
		$("input[id$='-total_unidades']").prop('disabled', true);
		$("#button-submit").prop("disabled", true);
        $("#comprobador-concordancia").on("click", autorizarRemito);
        $('#id_formato_de_impresion').on("change", controlarNumeracion)
		
    });
	
	function getDatos(valor) {
        var clienteId = $("#id_cliente").val();
        if (clienteId) {
			if(valor=='[object Object]'){
			$("#id_ordencompra").html("");
			                // Eliminamos las opciones anteriores del select
			}
		    var request = $.ajax({
                type: "GET",
                url: "{% url 'venta:get_datos' %}",
                data: {
                    "id_cliente": clienteId,
                },
            });

            request.done(function(response) {
                // Agregamos los resultados al select
			if(valor=='[object Object]'){		
				$("#id_ordencompra").html(response.ordenesdecompra);
				$("#id_ordencompra").trigger("change", [false]);
				 
				}             
            });
        } else {
			if(valor=='[object Object]'){
            $("#id_ordencompra").html("<option value='' selected='selected'>---------</option>");
            $("#id_ordencompra").trigger("change", [false]);
};
        }
}

	function getProductos()
	{
		if(comprobarValoresCabecera()){
		if($(this).val()=='Confirmar Datos'){
		//alert($(this).text());
		$("#cabecera").css('display','none');
		$("#second-form").css('visibility', 'visible');
		$(this).val("Modificar Cabecera");
		//$(this).tigger("onclick");
		getDatosProducts(0);
		}else{
			$("#cabecera").css('display', 'inline');
			$("#second-form").css('visibility', 'hidden');
			$(this).val("Confirmar Datos");
		};
		}
		
	}
	function calcularTotal()
	{
		array_datos = $(this).attr("id").split("-");
		cajas = $("input#" + array_datos[0] + "-" + array_datos[1] + "-cajas").val();
		cantidad = $("input#" + array_datos[0] + "-" + array_datos[1] + "-cantidad").val();
		$("input#" + array_datos[0] + "-" + array_datos[1] + "-total_unidades").val(cajas * cantidad);		
	}
	
	function comprobarValoresCabecera()
	{
		//alert($("select#id_cliente").val());
		if($('input#id_referencia_externa').val()=="")
		{
			alert("Debe indicar una referencia al remito");
			return false
		}
		if($("select#id_cliente").val()=="")
		{
			alert("Debe seleccionarse un cliente");
			return false
		}
		if($("select#id_ordencompra").val()=="")
		{
			alert("Debe seleccionarse una Orden de Compra");
			return false
		}
		if($('input#id_fecha_emision').val()=="")
		{
			alert("Debe indicarse una fecha");
			return false
		}
		return true
	}
	
	function autorizarRemito()
	{
		$("input[id$='-total_unidades']").prop('disabled', false);
		$("#main-form *").css('display', 'inline');
		$("#button-submit").prop("disabled", false);

	}
	
	 function getDatosProducts(valor) {
         var ordencompraId = $("#id_ordencompra").val();
         //alert(ordencompraId);
         if (ordencompraId) {
				if(valor=='[object Object]'){
					// Eliminamos las opciones anteriores del select
				$("select[id^='id_productolineasrm_set']").each(function(index){
				$(this).html("");
				});
				}
				else
				{
				$("select#id_productolineasrm_set-" + valor + "-producto").html("");
				}

			    var request = $.ajax({
                 type: "GET",
                 url: "{% url 'venta:get_productos' %}",
                 data: {
                     "id_ordencompra": ordencompraId,
                 },
             });

             request.done(function(response) {
                 // Agregamos los resultados al select
				if(valor=='[object Object]'){		
					$("select[id^='id_productolineasrm_set']").each(function(index){
						$(this).html(response.productos);
					 
					});
					 
					}else
					{
						//alert("select#id_productolineasoc_set-" + valor + "-producto");
					$("select#id_productolineasrm_set-" + valor + "-producto").html(response.productos);

					}
              
             });
         } else {
				if(valor=='[object Object]'){
};
         }
	}
	 
	 function controlarNumeracion()
	 {
		 //El id de Punto2 es 3.
		 if($(this).val() == 3)
		 {
			
		 }
		 
	 }

</script>
{% endblock %}