{% extends '../base.html' %}

{%  block cuerpo %}
<div class="app-page-title">
<div class="page-title-heading">
   <div class="page-title-icon">
                                        <i class="pe-7s-menu icon-gradient bg-ripe-malin">
                                        </i>
                                    </div>
<div>Listado de Remitos Generados</div>
                                     
                                    </div>
</div>
<hr/>
	<div class="main-card mb-2 card">
		<div class="card-body">
			<h5 class="card-title">Filtros</h5>
			<table class="table table-hover table-fixed">
				<tr>
					<td>
						<label for="filtroNombre">Referencia Remito:</label>
						<input type="text" class="form-control" id="filtroNombre"
							onkeyup="filtroNombreCliente()"
							placeholder="Ingrese referencia de Remito..." /></td>
					<td>
						<label for="clientes_select">Cliente:</label>
						<select id="clientes_select" class="form-control"
							onchange="filtroNombreCliente()">
					</td>
					<td>
						<label for="filtroEstado">Estados</label>
						<select class="form-control" id="filtroEstado"
							onchange="filtroNombreCliente()">
							<option value="*">Todos</option>
							<option value="False">SIN</option>
							<option value="True">CONFORMADO</option>
						</select>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

    {% if object_list %}
<div class="main-card mb-3 card">
	<div class="card-body">
	<h5 class="card-title">Listado de Remitos.</h5>
		<table class="table table-hover table-fixed" id="tablaResultado">
		  <tr>
		    <th>Referencia</th>
		    <th>Tipo de Documento</th>
		    <th>Fecha Emision</th>
		    <th>Cliente</th>
			<th>Conformado</th>
		    <th>Ver Detalle</th>
		  </tr>   
		      {% for remito in object_list %}
		   <tr>
		      <td>
			  <a href="{% url 'venta:RemitoDetail' pk=remito.id %}">
			  <i class="pe-7s-box2 icon-gradient bg-amy-crisp">
		        </i>
		        {{remito}}
		      </td>
			  </a>
		      <td>
		      	{{remito.tipo_documento}}
		      </td>
		      <td>
		        {{remito.fecha_emision }}
		      </td>
		      <td>
		        {{remito.cliente}}
		      </td>
			  <td>
		        {{remito.conformado}}
		      </td>
		      <td>
			      <a href="{% url 'venta:RemitoConformador' pk=remito.id %}">
			      	<i class="pe-7s-angle-up-circle">
			      			Conformar
			      	</i>
			      </a>
		      </td>
		    </tr>
		      {% endfor %}
		
		    {% else %}
		      <p>No hay registros para mostrar.</p>
		    {% endif %}      
		</table>
		
	</div>
</div>
<a href="{% url 'inicio:abm' %}">    
<button class="mb-2 mr-2 btn-transition btn btn-outline-primary btn-block">
		<i class="pe-7s-wallet icon-gradient bg-plum-plate"></i>Ir al ABM
</button>
</a>	
<a href="{% url 'venta:RemitoCrear' %}">    
<button class="mb-2 mr-2 btn-transition btn btn-outline-primary btn-block">
		<i class="pe-7s-magic-wand icon-gradient bg-mixed-hopes"></i>Crear Remito
</button>
</a>
{% include './js/remito_list.js' %}
{% endblock %}