{% extends '../base.html' %}

{%  block cuerpo %}

<div class="app-page-title">
<div class="page-title-heading">
   <div class="page-title-icon">
                                        <i class="pe-7s-magic-wand icon-gradient bg-mixed-hopes">
                                        </i>
                                    </div>
<div>Crear Cronograma</div>
                                     
                                    </div>
</div>

<p>Logged out!</p>  

<a href="{% url 'login'%}">Click here to login again.</a>

{% endblock %}