{% extends '../base.html' %}

{%  block cuerpo %}
<div class="app-page-title">
<div class="page-title-heading">
   <div class="page-title-icon">
                                        <i class="pe-7s-menu icon-gradient bg-ripe-malin">
                                        </i>
                                    </div>
<div>Listado de Producto</div>
                                     
                                    </div>
</div>

{% include './partials/pProducto_list.html'%}
 
<a href="{% url 'inicio:abm' %}">    
<button class="mb-2 mr-2 btn-transition btn btn-outline-primary btn-block">
		<i class="pe-7s-wallet icon-gradient bg-plum-plate"></i>Ir al ABM
</button>
</a>	
<a href="{% url 'gral:ProductoCreate' %}">    
<button class="mb-2 mr-2 btn-transition btn btn-outline-primary btn-block">
		<i class="pe-7s-magic-wand icon-gradient bg-mixed-hopes"></i>Crear Producto
</button>
</a>

{% endblock %}