{% extends '../base.html' %}
{%  block cuerpo %}

<div class="app-page-title">
<div class="page-title-heading">
   <div class="page-title-icon">
                                        <i class="pe-7s-magic-wand icon-gradient bg-mixed-hopes">
                                        </i>
                                    </div>
<div>Crear Producto</div>
                                     
                                    </div>
</div>
   
<form method="post" >{% csrf_token %}
<div class="main-card mb-3 card">
   <div class="card-body">
   <h5 class="card-title">Formulario Alta de Producto</h5>
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
   </div>
</form>
{% endblock %}