{% extends 'base.html' %}

{% block cuerpo %}

<div class="app-page-title">
	<div class="page-title-heading">
		<div class="page-title-icon">
		<i class="pe-7s-wallet icon-gradient bg-plum-plate"></i>
		</div>
	<div>Dashboard ABM</div>
	</div>
</div>

<div class="row">
 <div class="col-lg-6 col-xl-4">
	<div class="card mb-3 widget-content bg-night-fade">
		<div class="widget-content-wrapper text-white">
			<div class="widget-content-left">
				<div class="widget-heading">Crear Productos</div>
				<div class="widget-subheading">Permite generar productos nuevos.</div>
			</div>
				<div class="widget-content-right">
					<div class="widget-numbers text-white"><a href="{% url 'gral:ProductoCreate' %}"><span>IR</span></a></div>
				</div>
		</div>
	</div>
</div>
 <div class="col-lg-6 col-xl-4">
	<div class="card mb-3 widget-content bg-night-fade">
		<div class="widget-content-wrapper text-white">
			<div class="widget-content-left">
				<div class="widget-heading">Listar Productos</div>
					<div class="widget-subheading">Lista de todos los productos.</div>
			</div>
					<div class="widget-content-right">
						<div class="widget-numbers text-white"><a href="{% url 'gral:ProductoListView' %}"><span>IR</span></a></div>
					</div>
		</div>
	</div>
</div>

 <div class="col-lg-6 col-xl-4">
	<div class="card mb-3 widget-content bg-night-fade">
		<div class="widget-content-wrapper text-white">
			<div class="widget-content-left">
				<div class="widget-heading">Cliente</div>
					<div class="widget-subheading">Crear Cliente</div>
			</div>
					<div class="widget-content-right">
						<div class="widget-numbers text-white"><a href="#"><span>IR</span></a></div>
					</div>
		</div>
	</div>
</div>

</div>
{% endblock %}