{% extends '../base.html' %}
{%  block cuerpo %}
<div class="app-page-title">
	<div class="page-title-heading">
		<div class="page-title-icon">
		<i class="pe-7s-magic-wand icon-gradient bg-mixed-hopes"></i>
		</div>
		<div>Crear Configuración de Impresión</div>
	</div>
</div>
   

	<div class="main-card mb-3 card">
		<div class="card-body">
			<h5 class="card-title">Cargar Nueva Impresora</h5>
			<form method="post" >{% csrf_token %}
				{% include '../utils/form_cabecera.html'%}
	    <button type="submit" class="btn btn-primary">Guardar</button>
	    </form>
	    </div>
	</div>

{% endblock %}