
{% if object_list %}
  <div class="main-card mb-3 card">
	<div class="card-body">
	<h5 class="card-title">Listado de Ordenes de Compra.</h5>
		<table class="table table-hover table-fixed">
		  <tr>
		    <th>Referencia</th>
		    <th>Fecha Emision</th>
		    <th>Cliente</th>
		    <th>Circuito</th>
		    <th>Ver Detalle</th>
		  </tr>   
		      {% for ordencompra in object_list %}
		   <tr>
		      <td><i class="pe-7s-box2 icon-gradient bg-amy-crisp">
		        </i>
		        {{ordencompra}}
		      </td>
		      <td>
		        {{ordencompra.fecha_emision }}
		      </td>
		      <td>
		        {{ordencompra.cliente}}
		      </td>
		      <td>
		      	{{ordencompra.circuito}}
		      </td>
		      <td>
			      <a href="{% url 'venta:OrdenCompraDetail' pk=ordencompra.id %}">
			      	<i class="pe-7s-angle-up-circle">
			      			Ver
			      	</i>
			      </a>
		      </td>
		    </tr>
		      {% endfor %}
		
		    {% else %}
		      <p>No hay registros para mostrar.</p>
		    {% endif %}      
		</table>
		
	</div>
</div>